body{
    background:  #f5f5f5;
}
#privilege-nav{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
    background: #fff;
    ul{
        list-style: none;
        li{
            float: left;
            position: relative;
            width: 250px;
            height: 77px;
            line-height: 80px;
            text-align: center;
        }
        .active{
            color: #e9546b;
            border-bottom: 3px solid #e9546b;
        }
    }
}
#center{
    width: 690px;
    height: 130px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    margin: 40px auto;
    
    .text{
        .coupon-code{
            position: absolute;
            left: 30px;
            top: 15px;
            color: #0b57a0;
        }
        p:nth-of-type(1){
            font-size: 20px;
            position: absolute;
            left: 30px;
            top:65px;
        }
        p:nth-of-type(2){
            font-size: 20px;
            position: absolute;
            left: 30px;
            top:95px;
        }
    }
    
    .privilege{
        width: 230px;
        height: 130px;
        position: absolute;
        right: 0;
        top: 0;
        span:nth-of-type(1){
            position: absolute;
            left: 25px;
            top: 25px;
            font-size: 40px;
            color: #fff;
        }
        span:nth-of-type(2){
            position: absolute;
            left: 65px;
            top: 5px;
            font-size: 60px;
            color: #fff;
        }
    }
    
}

