html, body {
  width: 100%;
  height: 100%;
}

.signup-page {
  width: 750px;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: #fff5e4;

  img {
    width: 100%;
    border: none;
    vertical-align: top;
  }
}

.banner {
  width: 100%;
}

.signup-form {
  width: 694px;
  margin: 0 auto;
  padding-top: 60px;

  li {
    width: 690px;
    height: 86px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #fffbf5;
    overflow: hidden;

    &.input-group {
      border-color: #dbb57f;
    }

    a, input {
      display: inline-block;
      width: 690px;
      height: 86px;
      line-height: 86px;
      font-size: 30px; /* px */
      background-color: inherit;
    }

    input {
      border: none;
      outline: none;
      border-radius: 10px;
      color: #333;
      text-indent: 1em;
    }

    &.vcode {
      input {
        float: left;
        width: 400px;
      }
      a {
        float: right;
        width: 220px;
        text-align: center;
        color: #f1454a;

        &:active {
          color: #caa36b;
        }
      }
    }

    .btn-confirm {
      font-size: 40px; /* px */
      background-color: #f1454a;
      color: #fff;
      border-radius: 10px;
      text-align: center;
      transition: background-color .2s ease-in-out;

      &:active {
        background-color: #caa36b;
      }
    }
  }
}

.tip {
  font-size: 26px; /* px */
  color: #caa36b;
  text-align: center;
  line-height: 40px;
}

.flavor {
  margin-top: 20px;
  font-size: 24px;
  color: #f1454a;
  text-align: center;
  line-height: 30px; /* px */
}

.success-tip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  .success {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      border: none;
      vertical-align: top;
    }

    .btn-ok {
      display: block;
      position: absolute;
      bottom: 80px;
      left: 50%;
      width: 312px;
      height: 86px;
      line-height: 86px;
      transform: translateX(-50%);
      font-size: 40px; /* px */
      background-color: #f1454a;
      color: #fff;
      border-radius: 10px;
      text-align: center;
      transition: background-color .2s ease-in-out;

      &:active {
        background-color: #caa36b;
      }
    }
  }
}